<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        List de agentes
      </p>
      <app-create-agent (invite)="addNewAgent($event)"></app-create-agent>
    </div>

    <div class="mt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">

        <div *ngFor="let agent of list">
          <app-card-agent [agent]="agent"></app-card-agent>
        </div>

      </dl>
    </div>
  </div>
</div>

